# Исключаем файлы и директории виртуального окружения
env/
venv/

# Исключаем временные файлы редакторов
*.swp
*.swo
*.swn

# Исключаем файлы кэша Python
__pycache__/
*.pyc
*.pyo

# Логи
*.log

# Файлы настроек IDE (например, VS Code)
.vscode/

# Файлы, созданные системой
.DS_Store

# Файлы, созданные APScheduler или другими инструментами (если есть)
*.pid
